__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec
build/
dist/
.eggs/

.venv/
venv/
env/
ENV/
*.env
*.venv

.ipynb_checkpoints/
.streamlit/

*.log
*.out
*.tmp
*.pid
*.bak
*.swp
.cache/
logs/

data/raw/
data/tmp/
data/interim/
data/processed/*.csv
models/*.pkl

!data/processed/happiness_model.csv
!data/processed/happiness_predictions_Ridge.csv

.vscode/
.idea/
.DS_Store
Thumbs.db

kafka-logs/
zookeeper/
docker-compose.override.yml
